<%- include ../partials/header %>
      <h2><%= title %></h2>
      <p>Welcome to the clubhouse</p>
      <% if (currentUser && currentUser.isMember){ %>
      <a href="/messages/create" class="button button--primary">Add Message</a>
      <%}%>
      <!------->
      <% if (currentUser) { %>
      <a href="/users/logout" class="button button--primary">Logout</a>
      <% }else{ %>
      <a href="/users/login" class="button button--primary">Login</a><% }%>

      <div class="messages">
        <%if (!messages.length) { %> 
            <p>No messages yet, be the first to post a story.</p>
          <% } else { %>
        <% messages.map(m => {%>
        <div class="messages__message">
          <% if(currentUser && currentUser.isAdmin){ %>
          <form action="/messages/<%= m.id %>/delete" method="POST">
            <button class="button button--danger">Delete</button>
        </form>
          <% } %>

          <h2><%=m.title%></h2>
          <% if (currentUser && currentUser.isMember) {%>
          <h5><%=m.user.username%>
          <h6><%= moment(m.date).format('Do MMMM, YYYY')%></h6>
          <% } else{ %>

          <h5>Author hidden</h5>
          <h6>timestamp unavailable</h6>

          <% } %>
          <p><%=m.text%></p>
        </div>
        <%})%>
      </div>
      <% } %> 


      <%- include ../partials/footer %>